.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input {
    width: 30vh;
    height: 10vh;
    background-color: black;
    border-style: solid;
    border-color: aqua;
    border-width: 5px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.submit {
    border: none;
}