.container {
    color: inherit;
}

.button {
    cursor: pointer;
    width: 60vh;
    height: 17vh;
    background-color: #ffd100; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 5px;
    font-weight: bold;
    transition: 
    ease-out
    1s
    ;
}

.button:hover {
    width: 65vh;
    height: 20vh;
    font-size: 95px;
    letter-spacing: 30px;
}